/* Navbar */

.navbar {
	position: relative;
	/* z-index digunakan jika navbar hilang tertutup jumbotron */
	z-index: 1; 
}

.navbar-brand {
	font-family: viga;
	font-size: 30px;
}

/*jumbotron*/
.jumbotron{
	background-image: url(jumbotron-bg.jpg);
	background-size: cover;
	height: 500px;
	text-align: center;
	position: relative;
}

.jumbotron .container {
	/* z-index dan position digunakan jika navbar hilang tertutup jumbotron */
	z-index: 1;
	position: relative;
}

/* .jumbotron::after; dibawah ini untuk membuat gradasi warna pada jumbotron */
.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	/*background-color: black;*/
	/*position absolute biar gampang gesernya dan wajib setelah relative*/
	position: absolute;
	bottom: 0;
}

.jumbotron .display-4{
	color: white;
	margin-top: 150px;
	font-weight: 200;
	font-size: 32px;
	margin-bottom: 30px;
	margin-right: 0;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.7);*/
}

.jumbotron .display-4 span{
	font-weight: 500;
}

/*info panel*/
.info-panel{
	box-shadow: 0 3px 20px rgb(0,0,0.5);
	border-radius: 12px;
	margin-top: -100px;
	background-color: white;
	padding: 30px;
}

.info_panel, img{
	width: 60px;
	height: 60px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info-panel h4{
	font-size: 16px;
	/*text transform: uppercase digunakan jika text ingin huruf kapital semua*/
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.info-panel p{
	font-size: 14px;
	color: #ACACAC;
	margin-top: 5px;
	font-weight: 200;
}

/*workingspace*/
.workingspace{
	margin-top: 120px;
	text-align: center;
}

.workingspace img{
	width: 100%;
	height: 100%;
}

.workingspace h3{
	font-size: 52px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px;
}

.workingspace h3, span{
	/*fontweight digunakan untuk memberikan text tebal atau BOLD pada suatu kata*/
	font-weight: 500;
	/*width: 75%;*/
}

.workingspace p{
	font-size: 18px;
	color: #ACACAC;
	/*width: 70%;*/
	margin: 25px 0;
}


/*testimonial*/
.testimonial{
	margin-top: 100px;
}

.testimonial h5{
	text-align: center;
	font-weight: 200;
	font-style: italic;
	font-size: 24px; 
}

.testimonial figure img{
	width: 60px;
	height: 60px;
	margin: 17px 10px;
	/*opacity digunakan untuk membuat gambar transparan*/
	opacity: 0.6;
}


/*perhatikan pada bagian img.utama titik(.) nya tidak boleh di spasi  */
.testimonial figure img.utama{
	width: 90px;
	height: 90px;
	opacity: 1;
	margin-top: 2px;
}

.testimonial figure h5{
	font-size: 16px;
	font-weight: bold; 
	/* font-style: normal; digunakan jika sebelumnya font memiliki gaya italic atau yang lainnya */
	font-style: normal;
	margin: auto;
	color: black;
} 

.testimonial figure p{
	font-size: 12px;
	color: #ACACAC;
	text-align: center;
}

/*footer*/
.footer{
	margin-top: 100px;
}

.footer p{
	color: #ACACAC;
	font-size: 18px;
}

/*utility*/
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}




/* DESKTOP VERSION */


/* query @media dibawah ini digunakan jika tulisan saat versi mobile menjadi kecil, 
namun tidak saat tampilan desktop besar. 
cari query @media di bootstrap dengan keyword RESPONSIVE BREAKPOINT*/
@media (min-width: 992px) {
	.navbar-brand, .nav-link{
		color: white !important;
		/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); */
	}
	.nav-link {
	text-transform: uppercase;
	margin-right: 30px;
	}

/*::after digunakan apabila ingin menambahkan underline pada hover	*/
	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid blue;
		width: 50%; 
		margin: auto;
		/*padding-bottom: 5px;
		margin-bottom: -8px;*/ 
		/*padding dan margin bottom digunakan jika pointer saat menyentuh navbar tidak naik  */
	}

/* margin top bernilai minus 75 agar bg jumbotron bisa menyatu dengan navbar */
	.jumbotron{
		margin-top: -75px;
		height: 640px;
	}

	.jumbotron .display-4 {
		font-size: 62px;
	}

	.workingspace{
		text-align: left;
	}

	.testimonial h5{
		font-size: 32px; 
		width: 70%;
	}
}	

